body {
  font-family: "PT Serif", serif;
}

.bg-blue {
  background-color: #c4e2ff;
}

.border-bottom-dark {
  border: 1px solid #414141;
}

.aside-buttons > li {
  margin-bottom: 10px;
}

h1 {
  font-size: 70px;
  font-weight: 400;
}

.btndown {
  width: 130px;
  height: 40px;
  background-color: white;
  color: black;
  border: 1px black solid;
  border-radius: 30px;
}

.text {
  position: absolute;
  top: 20px;
  width: 370px;
  height: 390px;
  margin-left: 50px;
}

.logo {
  width: 170px;
  height: 40px;
}
